.md-typeset .mermaid {
  --md-mermaid-label-bg-color: #0ff0bd;
  --md-mermaid-label-fg-color: #fb2d00;
}

[data-md-color-scheme="slate"] .md-typeset .mermaid {
  --md-mermaid-label-bg-color: #5a4514;
  --md-mermaid-label-fg-color: #fff1bd;
}


